<!DOCTYPE html>
<html>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <head>
        <title>SIGNUP</title>
        <h1 id:h1>SIGNUP</h1>
        
    </head>
<body>
    <div id=login>
        <form method="POST" action="/save">
            <input type="text" name="username" placeholder="Username" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="password" placeholder="Password" required />
            
            <input class="submit" type="submit" >
            
        </form>
       
    </div>
    <p>
    <a href="/login">ALREADY HAVE AN ACCOUNT PLS CLICK HERE</a> 
    </p>      
    
</body>
</html>